{% extends 'html_meta.html' %}
{% load static %}

{% block page_title %}
Каталог
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'home_work_site/css/style.css' %}">
<link rel="stylesheet" href="{% static 'home_work_site/css/media.css' %}">
{% endblock %}

{% block page_content %}
{% include 'home_work/components/header.html' %}<!-- Header -->

<!--bread crumb Start-->
<div class="bread_crumb">
    <a href="/ ">Главная>></a> <span>Каталог</span>
</div>
<!--bread crumb End-->

<div class="content">
    <h1  class="titles">Каталог товара</h1> <br>

    <div class="product_list">
        {% for product in product_list %}
            {% include 'home_work/components/product.html' with product=product %}
        {% endfor %}
    </div>
</div>

{% endblock %}