{% extends 'html_meta.html' %}
{% load static %}

{% block page_title %}
Контакты
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'home_work_site/css/style.css' %}">
<link rel="stylesheet" href="{% static 'home_work_site/css/media.css' %}">
{% endblock %}

{% block page_content %}
{% include 'home_work/components/header.html' %}

<div class="bread_crumb"> <!--bread crumb-->
    <a href="/ ">Главная>></a> <span>Контакты</span>
</div>

<div class="content">
                <h1 class="titles">
                {{context}}
                </h1><br>
                
                <div class="message_form">
                <form>
                    <div class="border_message">
                        <div class="message_div">
                                <input type="text" name="" placeholder="Введите ваше имя" class="name_mail_input">
                                <br /> <br>
                                <input type="email" name="" placeholder="Введите вашу почту" class="name_mail_input">
                                <br><br>
                        </div>
                        <div class="message_div">
                                <legend><b>Укажите тип вашего сообщения</b></legend>
                                <label for="comment"> Отзыв </label>
                                <input type="radio" name="type_of_mess" id="comment">
                                <br />
                                <label for="offer"> Предложения </label>
                                <input type="radio" name="type_of_mess" id="offer">
                                <br />
                                <label for="cooperation"> Вопросы сотрудничества </label>
                                <input type="radio" name="type_of_mess" id="cooperation">   
                        </div>
                           
                            <input type="text" name="" placeholder="Введите тему сообщения" class="name_mail_input">
                            <br>
                            <textarea placeholder="Введите текст вашего сообщения" cols="60" rows="6" class="message"></textarea>
                            <input type="submit" name="" value="Отправить сообщение" class="button">
                            <input type="reset" name="" value="Сбросить заполнение" class="button">
                    </div>
                </form>
                </div><br><br>
                
                <h2 class="titles">"Адрес"</h2><br>

                <div class="contacts_ul_and_map">
                    <ul class="contacts_ul">
                        <li> <b>Контактный номер телефона</b>
                            <ol class="phon_number">
                                <li>Директор магазина - <i>8-926-228-44-55</i></li>
                                <li>Офис - <i>8(495)195-88-44</i></li>
                                <li>Консультативный отдел - <i>8-800-555-35-35</i></li>   
                            </ol>
                        </li>

                        <li><b>Адрес</b>
                            <ol>
                                <li>Адрес розничного магазина - Москва, Дмитровский проезд д.6 к.1</li>
                                <li>Юридический адрес - Кишинев, улица Красивых молдавских партизан д.16 к.3</li>
                            </ol>                
                        </li>

                        <li><b>Почта компании - <u>TochkaStarta@mail.ru</u></b></li>

                        <li>
                        <b>Адрес на карте</b> <br /><br>
                        </li>
                    </ul>
                    <iframe src="https://yandex.ru/map-widget/v1/-/CBuMEKW5TD" allowfullscreen="true" title="адрес розничного магазина" class="map_yandex">Указание адреса розничного магазина на Яндекс карте
                    </iframe><br>
                </div>
            </div>
{% endblock %}