<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Asics Gel Pulse 9</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../media.css">
</head>

<body>
    <div class="container">
    <!--Header Start-->
        <div class="header_main"> 
            <div class="header">
                <div class="header_icon">
                    <img src="../image/start_point_logo.png" alt="логотип компании точка старта" title="точка старта лого">
                </div>
                <div class="header_icon_name">
                    Точка <br> Старта
                </div>

                <div class="header_ul">      
                    <ul>
                        <li><a href="../index.html" >Главная</a></li>
                        <li><a href="../catalog.html">Каталог</a> </li>
                        <li><a href="../contacts.html">Контакты</a> </li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="header_spacer"></div>
    <!-- Header End -->

    <!--bread crumb Start-->
            <div class="bread_crumb">
                <a href="../index.html">Главная>></a><a href="../catalog.html">Каталог>></a> <span>Asics Gel-Pulse 9</span>
            </div>
    <!--bread crumb End-->   

            <div class="content">
                <h1 class="titles">
                    Кроссовки Asics Gel-Pulse 9
                </h1><br>
                
                <div class="image_and_brief_description">
                    <div class="image_product">
                        <a href="../image/Asics_Gel_Pulse_9.jpg" target="_blank">
                            <img src="../image/Asics_Gel_Pulse_9.jpg" alt="Asics  Gel-Pulse 9 - фото" title="Asics  Gel-Pulse 9">
                        </a>
                    </div>

                    <div class="brief_description">
                        <h3 class="product_description">
                            <b>Описание товара</b>
                        </h3>

                        <p class="detailed_description">
                            Спортивные кроссовки Asics  Gel-Pulse 9 
                        </p>
                        <button type="button" class="buy_button">
                            <img src="../image/busket_logo.png" title="into the basket" alt="into the basket button">В корзину
                        </button>
                    </div> <br>
                </div>
                
                <h3 class="product_description">
                    <b> Характеристики товара </b>
                </h3>

                <table class="product_characteristics">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th colspan="4">Показатель</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Пол:</td>
                            <td colspan="4">Мужские</td>
                        </tr>
                        <tr>
                            <td>Цвета:</td>
                            <td colspan="4">Серый + салатовый</td>
                        </tr>
                        <tr>
                            <td>Тип:</td>
                            <td colspan="4">Беговые</td>
                        </tr>
                        <tr>
                            <td>Размеры</td>
                            <td>46</td>
                            <td>44</td>
                            <td>42</td>
                            <td>41</td>
                        </tr>          
                    </tbody>
                </table>


                <h3 class="product_description">
                    <b> Подробное описание товара </b>
                </h3>

                <p class="detailed_description">
                    Новая модель разработанная компанией Asics, специально для занятий спортивной хотьбой. В ней реализована усиленная поддержка голеностопа, чтобы во время занятий вы не получили травму
                </p>
            </div>
    </div>
    <div class="footer">
        <p>&copy; Все права защищены</p>
    </div>
</body>

</html>
