 <div class="header_main">
        <div class="header">
            <div class="header_icon">
                <img src="image/start_point_logo.png" alt="логотип компании точка старта" title="точка старта лого">
            </div>

            <div class="header_icon_name">
                Точка <br> Старта
            </div>

            <div class="header_ul">
                <ul>
                    <li><a href="/ " >Главная</a></li>
                    <li><a href="/catalog/">Каталог</a> </li>
                    <li><a href="/contacts/">Контакты</a> </li>
                </ul>
            </div>
        </div>
 </div>
 <div class="header_spacer"></div>