<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Точка старта</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <div class="container">
<!--Header Start-->
        <div class="header_main">  
            <div class="header">
                <div class="header_icon">
                    <img src="image/start_point_logo.png" alt="логотип компании точка старта" title="точка старта лого">
                </div>

                <div class="header_icon_name">
                    Точка <br> Старта
                </div>

                <div class="header_ul">
                    <ul>
                        <li><a href="index.html" >Главная</a></li>
                        <li><a href="catalog.html">Каталог</a> </li>
                        <li><a href="contacts.html">Контакты</a> </li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="header_spacer"></div>
<!-- Header End -->

<!--bread crumb Start-->
        <div class="bread_crumb">
            <span>Главная</span>
        </div>
<!--bread crumb End--> 

        <div class="content">
            <div class="index_text">
                <div class="index_title">Здравствуйте!</div>
                    Рады приветствовать вас в нашем магазине "Точка старта". У нас представлено большое разнообразие моделей спортивной обуви. Вы сможете найти самую удобную обувь для вашего спортивного направления. Вся модели имеют сертификацию и являются оригиналами. приятных покупок &#9786; 
            </div> <!-- INDEX_TEXT -->

                <form class="slider">

                    <input type="radio" name="index_slider" id="slider_1" checked="checked">
                    <label for="slider_1"></label>
                    <div>
                        <img src="image/Slider_front.jpg" alt="slider_front" class="slider_front">
                    </div>

                    <input type="radio" name="index_slider" id="slider_2">
                    <label for="slider_2"></label>
                    <div>
                        <img src="image/slider_2.jpg" alt="slider_2" class="slider_front">
                    </div>

                    <input type="radio" name="index_slider" id="slider_3">
                    <label for="slider_3"></label>
                    <div>
                        <img src="image/slider_3.jpg" alt="slider_3" class="slider_front">
                    </div>
                </form><!-- Slider Stop -->

            </div> <!-- content -->
      
      
      

       </div> <!-- conteiner-->
    <div class="footer">
        <p>&copy; Все права защищены</p>
    </div>
</body>
</html>