@media screen and (orientation:portrait) and (max-device-width:500px){
    .header_spacer{
        min-height: 160px;
    }
    .header_main{
        height: 160px;
        margin: 0px;
        padding: 0px;
    }
    .header{
        margin: 0px;
        width: 80%;
        max-height: 160px;
        justify-content:center;
    }
    .header_ul{
        font-size: 30px;
    }
    .header li{
        border: none;
        display:list-item;
        list-style: none;
        margin-bottom: 15px;
    }
    .header_icon{
        min-width: 120px;
        min-height: 120px;
        border-radius: 70px;
    }
    .header_icon img{
        width: auto;
        height: 110px;
    }
    .header_icon_name{
        font-size: 35px;
        padding: 25px;
        border-right: 1px dodgerblue solid;
    }
    .image_and_brief_description{
        display: block;
    }
    .bread_crumb{
        font-size: 2em;
    }
    .brief_description{
        padding: 30px 15px;
        max-width: 100%;
    }
    .brief_description p{
        width: 100%;
        margin-left: 0px;
        font-size: 35px;
        text-align: center;
    }
    .brief_description h3{
        font-size: 45px;
    }
    .image_product{
        display: block;
        width: 70%;
        margin: auto;
    }
    .product_description{
        font-size: 30px;
        max-width: 100%;
    }
    .product_description:first-letter{
        font-size: 50px;
    }
    .detailed_description{
        margin-top: 30px;
    }
    .product_characteristics{
        font-size: 40px;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .titles{
        max-width: 100%;
        font-size: 35px;
    }
    .buy_button{
        height: 70px;
        width: 380px;
        background-color: #fff;
        border: midnightblue 1px solid;
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: -50px;
    }
    .catalog_referense{
        height: 350px;
        width: 300px;
        font-size: 30px;
        background-color: #c0e0f0;
        padding: 20px;
        margin: 10px;
    }
    .catalog_buy_button{
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    .catalog_buy_button{
        color: midnightblue;
        background-color: #f0ffff;
        border: #fff 1px solid;
        border-radius: 5px;
    }
/*    --Slider Start--*/
    .slider > input + label {
        display: block;
        width: 90px;
        height: 45px;
        top: calc(50% - 82px );
        left: 2%;
        margin-bottom: 15px;
    }
/*    --Slider Stop --*/
}
    
@media screen and (max-width:850px){
    .header_spacer{
        min-height: 160px;
    }
    .header_main{
        height: 160px;
        margin: 0px;
        padding: 0px;
    }
    .header{
        margin: 0px;
        width: 80%;
        max-height: 160px;
        justify-content:center;
    }
    .header li{
        border: none;
        display:list-item;
        list-style: none;
        margin-bottom: 15px;
    }
    .header_icon{
        min-width: 120px;
        min-height: 120px;
        border-radius: 70px;
    }
    .header_icon img{
        width: auto;
        height: 110px;
    }
    .header_icon_name{
        font-size: 35px;
        padding: 25px;
        border-right: 1px dodgerblue solid;
    }
    .slider{
        width: 600px;
        height: 340px;
        left: calc(50% - 300px);
    }
}
    
@media screen and (max-width:640px){
    .header{
        width: 100%;
    }
        .slider{
        width: 400px;
        height: 225px;
        left: calc(50% - 200px);
    }
    .header_icon{
        display: none;
    }
}